@using LaDanse.Application.Events.Models

<!-- In THE PAST -->
@if (IsInThePast())
{
    <div class="alert alert-warning">
        <div style="text-align: center; font-size: 150%">
            This event is in the past! You can only comment.
        </div>
    </div>
}
else if (IsPending())
{
    <div class="alert alert-info event-state-container">
        <div class="state-icon"><i class="fa fa-question fa-2x" aria-hidden="true"></i></div>
        <div class="state-text">This event is still pending ...</div>
    </div>
}
else if (IsConfirmed() )
{
    <div class="alert alert-success event-state-container">
        <div class="state-icon"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
        <div class="state-text">This event has been confirmed!</div>
    </div>
}
else if (IsCancelled())
{
    <div class="alert alert-danger event-state-container">
        <div class="state-icon"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
        <div class="state-text">This event was cancelled. You can only comment.</div>
    </div>
}

@code {
    
    [Parameter]
    public Event CalendarEvent { get; set; }

    private bool IsInThePast()
    {
        return CalendarEvent.InviteTime.CompareTo(DateTime.UtcNow) < 0;
    }

    private bool IsCancelled()
    {
        return CalendarEvent.State == "Cancelled";
    }

    private bool IsPending()
    {
        return CalendarEvent.State == "Pending";
    }

    private bool IsConfirmed()
    {
        return CalendarEvent.State == "Confirmed";
    }
}
