
<NavLink href="documents/inbox">
    <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">Inbox</h4>
            <p class="card-text">
                Count of documents to catalog.
            </p>
        </div>
    </div>
</NavLink>