
<NavLink href="documents/inbox">
    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">To Pay</h4>
            <p class="card-text">
                Count of payments that need to be done.
            </p>
        </div>
    </div>
</NavLink>
