<div class="page-container">

  <div class="menu-container">

    <div class="menu-columns-container">

      <MenuColumn>
        
        <a href="/events">
          <MenuTile Size="wide" Icon="fa-calendar-alt" IconStyle="regular">
            <EventTileContent />
          </MenuTile>
        </a>

        <a href="https://www.facebook.com/groups/23877201619/media/albums" target="_blank">
          <MenuTile Size="single" Label="Pictures">
            <MenuTileIconContent Icon="fa-image" IconStyle="regular" />
          </MenuTile>
        </a>

        <a href="">
          <MenuTile Size="single" Label="Discord">
            <MenuTileIconContent Icon="fa-headphones" IconStyle="solid" />
          </MenuTile>
        </a>

        <a href="">
          <MenuTile Size="wide" Icon="fa-comments" IconStyle="solid" UnderConstruction="true"></MenuTile>
        </a>

        <a href="https://www.facebook.com/groups/23877201619/" target="_blank">
          <MenuTile Size="single" Label="Facebook Page">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/FB-f-Logo__blue_100.png" />
          </MenuTile>
        </a>

        <a href="../about">
          <MenuTile Size="single" Label="About">
            <MenuTileIconContent Icon="fa-info" IconStyle="solid" />
          </MenuTile>
        </a>

      </MenuColumn>

      <MenuColumn>

        <a href="">
          <MenuTile Size="single" Label="My WoW Characters" UnderConstruction="true">
            <MenuTileIconContent Icon="fa-users" IconStyle="solid" />
          </MenuTile>
        </a>

        <a href="">
          <MenuTile Size="single" Label="Who is Who" UnderConstruction="true">
            <MenuTileIconContent Icon="fa-th" IconStyle="solid" />
          </MenuTile>
        </a>

        <a href="https://www.icy-veins.com/wow/" target="_blank">
          <MenuTile Size="single" Label="Icy Veins">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/logo_icyveins.png" />
          </MenuTile>
        </a>

        <a href="https://www.wowhead.com/" target="_blank">
          <MenuTile Size="single" Label="Wowhead">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/logo_wowhead.png" />
          </MenuTile>
        </a>

        <a href="https://www.askmrrobot.com/" target="_blank">
          <MenuTile Size="single" Label="Ask Mr Robot">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/AMRLogoHomePage.png" />
          </MenuTile>
        </a>

        <a href="https://wow.gamepedia.com/Wowpedia" target="_blank">
          <MenuTile Size="single" Label="Wowpedia">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/wowpedia.png" />
          </MenuTile>
        </a>

        <a href="https://www.warcraftlogs.com/guild/eu/defias-brotherhood/la%20danse%20macabre" target="_blank">
          <MenuTile Size="single" Label="Warcraft Logs">
            <MenuTileIconContent Icon="fa-heartbeat" IconStyle="solid" />
          </MenuTile>
        </a>

        <a href="https://worldofwarcraft.com/en-gb/" target="_blank">
          <MenuTile Size="single" Label="WoW Battle.net">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/BattleNet.png" />
          </MenuTile>
        </a>

        <a href="https://worldofwarcraft.com/en-gb/guild/eu/defias-brotherhood/la-danse-macabre" target="_blank">
          <MenuTile Size="single" Label="Guild at Battle.net">
            <MenuTileImageContent
              ImageUrl="/images/menu/logos/BattleNetAndGuildLogo.png" />
          </MenuTile>
        </a>

      </MenuColumn>

      <div class="menu-news-column">

        <div class="news-column-wrapper">

          <MenuNews />

        </div>

      </div>

    </div>

  </div>

</div>
