@import "EventInformationComponent.scss";

div.event-header
{
    background-image:url('/images/events/headers/castle-nathria-header.png');
    width: 100%;
    height: 200px;
    position: relative;
}

div.flex-container
{
    display: flex;
    align-items: center;
}

div.flex-x-center 
{
    display: flex;
    justify-content: center;
}

.bg-my-dark
{
    background-color: rgb(26, 27, 28);
}

div.flex-y-center 
{
    flex: 1;
}

div.flex-x-right 
{
    justify-content: flex-end;
}

div.flex-y-bottom 
{
    align-self: flex-end;
}

div.event-date-container
{
    border-radius: 10px;
    border: rgba(255, 0, 0, 0.7) 1px solid;
    border-top: rgba(255, 0, 0, 0.7) 10px solid;
    padding: 5px;
    background-color: #18191b;
    display: inline-block;
}

div.event-state-container
{
    font-size: 150%;
    overflow: auto;
    position: relative;
}

div.event-state-container > div.state-icon
{
    text-align: center;
    float: left;
    width: 10%;
    line-height: 45px;
}

div.event-state-container > div.state-text
{
    float: left;
    width: 89%;
    line-height: 45px;
}

.event-label
{
    font-weight: bold;
    font-size: 1.3em;
}

div.event-detail-row
{
    margin-top: 10px;
}

div.sign-up-row
{
    margin-top: 10px;
}

.center-text
{
    text-align: center;
}

div.manage-icons-container
{
    visibility: hidden;
}

div.sign-up-row:hover div.manage-icons-container
{
    visibility: visible;
}