$env:RUNTIME_DLL="bin/Debug/netcoreapp2.1/App.dll"
$env:ASPNETCORE_URLS="http://localhost:5001"
$env:ASPNETCORE_ENVIRONMENT="Development"
$env:LADANSE_DATABASE_CONNECTION="Server=localhost;User Id=postgres;Password=secret;Database=database"