#!/bin/bash

export MAIN_PROJECT="WebUI"

export ASPNETCORE_URLS="http://localhost:5000"
export ASPNETCORE_ENVIRONMENT="Development"

export LADANSE_BASE_URL="http://localhost:5000"

export LADANSE_DATABASE_CONNECTION="server=DatabaseHost;port=3306;database=YourDatabase;user=DbUser;password=secret"

export BATTLENET_CLIENT_ID="ClientIdFromBattleNet"
export BATTLENET_CLIENT_SECRET="ClientSecretFromBattleNet"

export AUTH0_DOMAIN="acme.openid.provider.com"
export AUTH0_AUDIENCE="https://acme.org/api"
export AUTH0_CLIENT_ID="ClientIdFromOpenIdProvider"
export AUTH0_CLIENT_SECRET="ClientSecretFromOpenIdProvider"
export AUTH0_DEFAULT_CONNECTION=""
